<h3 class='text-center'>
  A simple web application for taking notes using a google login
</h3>
<p>
  A beginner full stack dev's first back end project using :
  <ul>
    <li>
      <div class='flex items-center'>Node
        <img
          src='https://img.icons8.com/fluency/48/000000/node-js.png'
          width='32'
        /></div>
    </li>
    <li>
      <div class='flex items-center'>express js
        <img
          src='https://img.icons8.com/color/48/000000/express.png'
          width='32'
        /></div>

    </li>
    <li>
      <div class='flex items-center'>mongoDb
        <img
          src='https://img.icons8.com/color/48/000000/mongodb.png'
          width='32'
        />
      </div>
    </li>
  </ul>

</p>
checkout my portfolio for more projects.
<a
  href='https://nassim-sadi.github.io/portfolio/'
  class='text-indigo-400'
>Link</a>
<p>The code is on Github,feel free to use it as you like.</p>
<a
  href='https://github.com/Nassim-sadi/Note-app-server'
  class='text-indigo-400'
>Github link
  <i class='fab fa-github'></i></a>