<h3>Edit note</h3>
<div class='row'>
  <form action='/notes/{{note._id}}' method='POST' class='col s12'>
  
        <input type='hidden' name='_method' value='PUT' />

    <div class='form-input'>
      <label for='title' class="block" aria-placeholder="Title here">Title</label>

      <input
        type='text'
        id='title'
        name='title'
        required
        class='rounded focus:border-indigo-400'
        value=' {{note.title}}'
      />
    </div>

    <div class='input-field'>
      <h5>Write your Note:</h5>
      <textarea id='default-edit' name='body'></textarea>
    </div>
    <div class="buttons">

    <button type='submit' value='Update'class='button bg-gray-100'>
      Update<button/>
    <a href='/notes/{{note._id}}' class='cancel no-underline'>Cancel</a>
    </div>
    <div class="hidden " id="content">
        {{{note.body}}}
    </div>
  </form>
</div>
